doctype html
html
  include include/variables.pug
  include include/header.pug
  body
    .basket-block
      .bread-crumbs 
        a(href="/") Главная
        span 
          img(src="./dist/img/strelka.svg")
        a(href="/basket.html") Корзина
        span 
          img(src="./dist/img/strelka.svg")
      .basket-filter
        .basket-part
          h1 Корзина
      .total-order
        p Итого: <span>12 860 руб.</span>
        .repeat-order
          a Сделать заказ
      .filter-line         
        a.criterias-button(href="#") Разобрать по категориям
        .sorts-block
          p Сортировать:
          a(href="#") Дешевле
          a(href="#") Дороже
          a.active(href="#") Популярное
    .new-goods-background
    .new-basket-food.container
      .basket-products
        each val in catalogfoods 
          .food  
            a(href="javascript:openProductDetail()")
              .food-img 
                img(src=val.img)
              .food-text
                p= val.text
              .food-price-and-unit
                .food-price
                  p= val.price
                .food-unit
                  p= val.unit
              .food-price-and-unit
                .food-price
                  p= val.price_2
                .food-unit
                  p= val.unit_2
            .product-count
              .plus
              p 1
              .minus
    .total-order
      p Итого: <span>12 860 руб.</span>
      .repeat-order
        a Сделать заказ
  .foods-background
    .foods.container
      h1 Вы смотрели
      #foodSlider
        each val in food
          .food
            a(href="javascript:openProductDetail()")
              .food-img 
                img(src=val.img)
              .food-text
                p= val.text
              .food-price-and-unit
                .food-price
                  p= val.price
                .food-unit
                  p= val.unit
  include include/mapPopup.pug
  include include/modal.pug
  include include/login.pug
  include include/reg.pug
  include include/footer.pug
